.country-list-container {
    max-height: 500px; /* Set the desired height for the scrollable container */
    overflow-y: auto;
    min-width: 10em; /* Enable vertical scrolling */
  }
  
  .country-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .country-list li {
    cursor: pointer;
  }
  
  .siteHeader {
    background-color: slategray;
    color: black;
    padding: 20px;
  }
  
  .bannerText {
    margin: 0;
  }

  .removeIcon {
    cursor: pointer;
    color: red;
  }

  .addBorder {
    border-style: solid;
    border-width: 2px;
  }

  .countryName{
    text-decoration: underline;
  }
  .favouriteButton{
    width: 50%;
    margin-top: 0.5em;
    border-radius: 12px;
    background-color: skyblue;
  }

  html, body{
    margin: 0;
    padding: 0;
    background-color: paleturquoise;
  }

  .mainBody{
    background-color: paleturquoise;
  }